.modal-header {
    background-image: url("../images/mustang.png");
    font-family: 'Aldrich', sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
    border-bottom: 1px solid black;
}

.modal-footer {
    background-image: url("../images/mustang.png");
    border-top: 1px solid black;
}

#modal-button {
    padding: .375rem .75rem;
    border-radius: .25rem;
    font-family: 'Aldrich', sans-serif;
    background-color: white;
    color: steelblue;
    text-shadow: 1px 1px 2px navy;
    border: 1px solid navy;
}

#signIn, #signUp {
    margin-top: 10px;
}

.animate__animated.animate__bounce {
    --animate-duration: 4s;
  }

.jumbotron {
    background-image: url("../images/mustang.png");
    margin-bottom: auto;
    background-size: auto;
    background-repeat: no-repeat;
    padding-bottom: 350px;
    max-width: 100%;
    height: auto;
    background-position: center;
    overflow: no-repeat;
}

#title {
    color: blue;
    font-size: 80px;
    font-family: 'Aldrich', sans-serif;

}

#subtitle {
    display: inline-block;
    color: blue;
    text-shadow: 2px 2px 5px steelblue;
}

@keyframes pulse {
    0%   {text-shadow: 1px 1px 2px dodgerblue;}
    25%  {text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;}
    50%  {text-shadow: 1px 1px 2px dodgerblue;}
    75%  {text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;}
    100% {text-shadow: 1px 1px 2px dodgerblue;}
}
 .pulse {
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#loginButton {
    display: inline-block;
    margin-left: 10px;
    padding: 20px 10px;
    border-radius: 50%;
    font-family: 'Aldrich', sans-serif;
    color: dodgerblue;
    text-shadow: 1px 1px 2px navy;
    border: 1px solid navy;
}

#loginButton:hover, #logoutButton:hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

#logoutButton {
    display: inline-flex;
    margin: 0px 5px 5px 0px;
    padding: 25px 5px;;
    border-radius: 50%;
    font-family: 'Aldrich', sans-serif;
    color: dodgerblue;
    text-shadow: 1px 1px 2px navy;
    border: 1px solid navy;
    float: right;
}

.searchSubmit {
    color: midnightblue;
    background-color: transparent;
    border: 1px solid midnightblue;
    padding: .375rem .75rem;
    border-radius: .25rem;
}

.searchSubmit:hover {
    background-image: url("../images/button-blue.png");
    color: white;
    border: 1px solid white;
}

#jobSearchSubmit, #customCourseSubmit, #customVideoSubmit, #customEventSubmit, #customJobSubmit, #customArticleSubmit {
    color: midnightblue;
    background-color: transparent;
    border: 1px solid midnightblue;
    border-radius: .25rem;
    margin-bottom: 15px;
}

#jobSearchSubmit:hover, #customCourseSubmit:hover, #customVideoSubmit:hover, #customEventSubmit:hover, #customJobSubmit:hover, #customArticleSubmit:hover {
    background-image: url("../images/button-blue.png");
    color: white;
    border: 1px solid white;
}

.gridWrapper {
    /* justify-content: auto;
    padding-top: 30px;
    padding-bottom: 300px;
    background-position: center;
    background-image: url('../images/job2.jpg');
    background-repeat: no-repeat;
    background-position: bottom ;
    background-size: cover;
    height: auto; */
}

.global-header {
    justify-content: auto;
    background-position: center;
    padding-bottom: 3rem;
    background-image: url('../images/job2.jpg');
    background-repeat: no-repeat;
    background-position: bottom ;
    background-size: cover;
    height: auto;
}

.grid {
    display: grid;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 80px;
    align-content: space-around
}
 
/* Icons courtesy of: https://www.iconfinder.com/Bres */
.grid-item {
    background-image: url("../images/trianglify.png");
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 5px 10px 8px steelblue;
    font-family: 'Aldrich', sans-serif;
    font-size: 40px; 
    color: midnightblue;
    border: 3px solid black;
    padding-right: 10px;
}

.grid-item:hover {
    box-shadow: 5px 10px 18px dodgerblue;
}

.grid-item p {
    align-self: center;
}

.container {
    margin-bottom: 100px;
}

.card {
    margin: 0 auto;
    background-image: url("../images/trianglify.png");
    background-size: cover;
    font-size: 20px;
    width: 80%;
}

.card-header {
    font-family: 'Aldrich', sans-serif;
    font-size: 40px;
    text-shadow: 2px 2px 5px steelblue;
    text-align: center;
}

#backButton, #homeButton {
    float: left;
    color: black;
}

#notebookNameTextField {
    width: 70%;
}

h4 {
    text-shadow: 1px 1px 3px steelblue;
}

p {
    margin-bottom: 0px;
}

.inputForm {
    margin-top: 10px;
}

.input-group-prepend, .col {
    margin-bottom: 15px;
}

#addNotebookLabel {
    font-family: 'Aldrich', sans-serif;
    text-shadow: 2px 2px 5px steelblue;
    font-size: 20px;
}

.savingTo {
    font-family: 'Aldrich', sans-serif;
    font-size: 40px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px steelblue;
}

#searchResults ul {
    list-style: none;
}

#notebookCard ul, #notebookContentCard ul {
    list-style: none;
}

#notebookCard li, #notebookContentCard li {
    margin-bottom: 10px;
    border-bottom: 1px solid navy;
}

#noteTextRendered {
    display: inline-flex;
}

.notebookIcon {
    width: 60px;
    height: 60px;
}

.clearfix {
    overflow: auto;
}

.deleteNotebookButton, .deleteContentButton {
    float: right;
    color: midnightblue;
    opacity: 0.5;
    border: 1px solid midnightblue;
    padding: .375rem .75rem;
    border-radius: .25rem;
    margin-top: 10px;
}

.deleteNotebookButton:hover, .deleteContentButton:hover, .headerButton:hover {
    background-image: url("../images/button-blue.png");
    color: white;
    border: 1px solid white;
    opacity: 1.0;
}

.headerButton {
    float: right;
    overflow: auto;
    color: midnightblue;
    opacity: 0.5;
    border: 1px solid midnightblue;
    padding: .375rem .75rem;
    border-radius: .25rem;
    margin-top: 10px;
    font-size: 20px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

#searchResults li, #notebookCard li, #notebookContentCard li {
    padding-bottom: 5px;
    border-bottom: 2px solid navy;
}

#searchResults li a, #notebookCard li a, #notebookContentCard li a {
    color: black;
    margin-left: 10px;
}

.jobTitle {
    font-family: 'Aldrich', sans-serif;
    text-shadow: 2px 2px 5px dodgerblue;
    font-size: 25px;
    margin-top: 25px;
}
#title {
    font-size: 50px
}
.saveResultButton {
    float: right;
    color: midnightblue;
    opacity: 0.5;
    border: 1px solid midnightblue;
    padding: .375rem .75rem;
    border-radius: .25rem;
    margin-top: 10px;
}

.saveResultButton:hover {
    background-image: url("../images/button-blue.png");
    opacity: 1;
    color: white;
    border: 1px solid white;
}

.contentSectionTitle {
    font-family: 'Aldrich', sans-serif;
    text-shadow: 2px 2px 5px dodgerblue;
    font-size: 25px;
    margin-top: 25px;
}
/* text */


@media (max-width: 900px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
    }
    
    /* Smartphones (landscape) ----------- */
    @media only screen and (min-width : 321px) {
    /* Styles */
    }
    
    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
    /* Styles */
    }
    
    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
    }
    
    /* iPads (landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
    }
    
    /* iPads (portrait) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
    }
    /********** 
    iPad 3
    **********/
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    /* Desktops and laptops ----------- */
    @media only screen  and (min-width : 1224px) {
    /* Styles */
    }
    
    /* Large screens ----------- */
    @media only screen  and (min-width : 1824px) {
    /* Styles */
    }
    
    /* iPhone 4 ----------- */
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    /* iPhone 5 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    @media only screen and (max-width: 850px){
        .grid{
            /* display:block; */
            width: 100%;
        }
    }

    
    /* iPhone 6, 7, 8 ----------- */
    @media only screen and (max-width: 650px){
    /* Styles */
    .grid{
        width:100%;
        display:block;
    }
    .grid-item{
        text-align: center;
        display: block;
    }
    }
    

    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* iPhone 6+, 7+, 8+ ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* iPhone X ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    /* iPhone XS Max, XR ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    /* Samsung Galaxy S3 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* Samsung Galaxy S4 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    /* Samsung Galaxy S5 ----------- */
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }

      